
.navbar {
    background-color: rgb(0, 54, 126);
    height: 10vh;
    
  }
  
  .navbar-brand {
    color: white;
    margin-left: 15rem;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin-right: 12rem;
  }
  
  .nav-link {
    color: white;
    margin-left: 2.5rem;
  }